name: Docker Publish

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    environment: prod
    strategy:
      matrix:
        component: [gocron, gocron-node]
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up QEMU
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

    - name: Set up Docker Buildx
      run: |
        docker buildx create --use --name builder --driver docker-container
        docker buildx inspect --bootstrap

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Extract version
      id: version
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Build and push
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --file ./Dockerfile.${{ matrix.component }} \
          --tag ${{ secrets.DOCKER_USERNAME }}/${{ matrix.component }}:${{ steps.version.outputs.version }} \
          --tag ${{ secrets.DOCKER_USERNAME }}/${{ matrix.component }}:latest \
          --push \
          .
